<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DefaultRoleId" value="969944618244374548"/>
		<add key="WelcomeChannelId" value="969932735642742817"/>
		<add key="VotekickDuration" value="30000"/>
		<add key="VotekickTimeoutDuration" value="10000"/>
		<add key="PrivilegedRoleId" value="969945486419165235" />
	</appSettings>
</configuration>
